<div>
    <div class="sidebar">
        <ul class="sidebar-nav list-unstyled">
            <li class="nav-item">
                <a href="/dashboard" class="nav-link " id="dash-link" >
                    <i class="fas fa-tachometer-alt"></i>Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a href="/dashboard/addRecipe" class="nav-link " id="add-link" >
                    <i class="fas fa-plus-circle"></i>Add Recipe
                </a>
            </li>
            <li class="nav-item">
                <a href="/dashboard/viewRecipe" class="nav-link " id="view-link" >
                    <i class="fas fa-utensils"></i>View Recipes
                </a>
            </li>
            <li class="nav-item">
                <a href="/dashboard/viewContact" class="nav-link " id="contact-link" >
                    <i class="fas fa-envelope"></i>View Contacts
                </a>
            </li>
            <li class="nav-item mt-4">
                <a href="/" class="nav-link">
                    <i class="fas fa-home"></i>Back to Website
                </a>
            </li>
        </ul>
    </div>
</div>